Cams.Web.MVCRazor/Service References/ClientServiceReference/ClientWcfService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Message" />
  <xs:complexType name="ClientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="CAId" type="xs:int" />
      <xs:element minOccurs="0" name="CAName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:long" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDto" nillable="true" type="tns:ClientDto" />
  <xs:complexType name="EntityDtosOfClientDtoqVpC1lck">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityDtosOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ClientDto" Namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cams.Common.Message" base="q1:DtoBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Entities" nillable="true" type="tns:ArrayOfClientDto" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityDtosOfClientDtoqVpC1lck" nillable="true" type="tns:EntityDtosOfClientDtoqVpC1lck" />
  <xs:complexType name="ArrayOfClientDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDto" nillable="true" type="tns:ClientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDto" nillable="true" type="tns:ArrayOfClientDto" />
</xs:schema>