Cams.Web.MVCRazor/Service References/ClientServiceReference/ClientWcfService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://cams/clientservices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://cams/clientservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://cams/clientservices/Imports">
      <xsd:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd0" namespace="https://cams/clientservices" />
      <xsd:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" />
      <xsd:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto.User" />
      <xsd:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Message" />
      <xsd:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto.Address" />
      <xsd:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Querying" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IClientService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IClientService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindBy_InputMessage">
    <wsdl:part name="parameters" element="tns:FindBy" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="https://cams/clientservices/IClientService/GetById" message="tns:IClientService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="https://cams/clientservices/IClientService/GetByIdResponse" message="tns:IClientService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="https://cams/clientservices/IClientService/Update" message="tns:IClientService_Update_InputMessage" />
      <wsdl:output wsaw:Action="https://cams/clientservices/IClientService/UpdateResponse" message="tns:IClientService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="https://cams/clientservices/IClientService/Create" message="tns:IClientService_Create_InputMessage" />
      <wsdl:output wsaw:Action="https://cams/clientservices/IClientService/CreateResponse" message="tns:IClientService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="https://cams/clientservices/IClientService/FindAll" message="tns:IClientService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="https://cams/clientservices/IClientService/FindAllResponse" message="tns:IClientService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindBy">
      <wsdl:input wsaw:Action="https://cams/clientservices/IClientService/FindBy" message="tns:IClientService_FindBy_InputMessage" />
      <wsdl:output wsaw:Action="https://cams/clientservices/IClientService/FindByResponse" message="tns:IClientService_FindBy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>