Cams.Web.MVCRazor/Service References/ClientServiceReference/ClientWcfService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://cams/clientservices" elementFormDefault="qualified" targetNamespace="https://cams/clientservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" />
  <xs:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto.User" />
  <xs:import schemaLocation="http://localhost:49846/ClientWcfService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Querying" />
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" minOccurs="0" name="GetByIdResult" nillable="true" type="q1:ClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" minOccurs="0" name="clientDto" nillable="true" type="q2:ClientDto" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cams.Common.Dto.User" minOccurs="0" name="loggedInUserDto" nillable="true" type="q3:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" minOccurs="0" name="UpdateResult" nillable="true" type="q4:ClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" minOccurs="0" name="clientDto" nillable="true" type="q5:ClientDto" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cams.Common.Dto.User" minOccurs="0" name="loggedInUserDto" nillable="true" type="q6:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" minOccurs="0" name="CreateResult" nillable="true" type="q7:ClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" minOccurs="0" name="FindAllResult" nillable="true" type="q8:EntityDtosOfClientDtoqVpC1lck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cams.Common.Querying" minOccurs="0" name="query" nillable="true" type="q9:Query" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="recordsPerPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" minOccurs="0" name="FindByResult" nillable="true" type="q10:EntityDtosOfClientDtoqVpC1lck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>