Cams.Web.MVCRazor/Service References/ClientServiceReference/ClientWcfService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cams.Common.Querying" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cams.Common.Querying" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Query">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderByProperty" nillable="true" type="tns:OrderByClause" />
      <xs:element minOccurs="0" name="QueryOperator" type="tns:QueryOperator" />
      <xs:element minOccurs="0" name="_criteria" nillable="true" type="tns:ArrayOfCriterion" />
      <xs:element minOccurs="0" name="_subQueries" nillable="true" type="tns:ArrayOfQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Query" nillable="true" type="tns:Query" />
  <xs:complexType name="OrderByClause">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" type="xs:boolean" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderByClause" nillable="true" type="tns:OrderByClause" />
  <xs:simpleType name="QueryOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="And" />
      <xs:enumeration value="Or" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueryOperator" nillable="true" type="tns:QueryOperator" />
  <xs:complexType name="ArrayOfCriterion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Criterion" nillable="true" type="tns:Criterion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCriterion" nillable="true" type="tns:ArrayOfCriterion" />
  <xs:complexType name="Criterion">
    <xs:sequence>
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="criteriaOperator" type="tns:CriteriaOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Criterion" nillable="true" type="tns:Criterion" />
  <xs:simpleType name="CriteriaOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal" />
      <xs:enumeration value="LesserThanOrEqual" />
      <xs:enumeration value="GreaterThanOrEqual" />
      <xs:enumeration value="LesserThan" />
      <xs:enumeration value="GreaterThan" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="IsNullOrZero" />
      <xs:enumeration value="NotApplicable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CriteriaOperator" nillable="true" type="tns:CriteriaOperator" />
  <xs:complexType name="ArrayOfQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Query" nillable="true" type="tns:Query" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuery" nillable="true" type="tns:ArrayOfQuery" />
</xs:schema>