Cams.Web.MVCRazor/Service References/ClientServiceReference/ClientWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cams.Common.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cams.Common.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DtoBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseInstance" nillable="true" type="tns:Response" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoBase" nillable="true" type="tns:DtoBase" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessExceptionInstance" nillable="true" type="tns:BusinessExceptionDto" />
      <xs:element minOccurs="0" name="BusinessWarningList" nillable="true" type="tns:ArrayOfBusinessWarning" />
      <xs:element minOccurs="0" name="EntityIdInstance" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="BusinessExceptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionType" type="tns:BusinessExceptionEnum" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessExceptionDto" nillable="true" type="tns:BusinessExceptionDto" />
  <xs:simpleType name="BusinessExceptionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Validation" />
      <xs:enumeration value="Operational" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BusinessExceptionEnum" nillable="true" type="tns:BusinessExceptionEnum" />
  <xs:complexType name="ArrayOfBusinessWarning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessWarning" nillable="true" type="tns:BusinessWarning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessWarning" nillable="true" type="tns:ArrayOfBusinessWarning" />
  <xs:complexType name="BusinessWarning">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionType" type="tns:BusinessWarningEnum" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessWarning" nillable="true" type="tns:BusinessWarning" />
  <xs:simpleType name="BusinessWarningEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Validation" />
      <xs:enumeration value="Operational" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BusinessWarningEnum" nillable="true" type="tns:BusinessWarningEnum" />
</xs:schema>