Cams.Web.MVCRazor/Service References/UserServiceReference/UserWcfService71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49846/UserWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto.User" />
  <xs:import schemaLocation="http://localhost:49846/UserWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Message" />
  <xs:complexType name="EntityDtosOfUserDtosN5Euqgj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityDtosOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserDto" Namespace="http://schemas.datacontract.org/2004/07/Cams.Common.Dto.User" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cams.Common.Message" base="q1:DtoBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cams.Common.Dto.User" minOccurs="0" name="Entities" nillable="true" type="q2:ArrayOfUserDto" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityDtosOfUserDtosN5Euqgj" nillable="true" type="tns:EntityDtosOfUserDtosN5Euqgj" />
</xs:schema>